@model BSUNetworkMonitorWebpage.Models.Monitor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Monitor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MacAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MacAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IPAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IPAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Switch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Switch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Port)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Port)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExternalIP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExternalIP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DNS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DNS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WirelessController)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WirelessController)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessPoint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessPoint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionForWired)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionForWired)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
